<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easily</title>
</head>
<body>
 <header>
   <div class="navbar">
    <div class="left">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/jobs">jobs</a></li>
        <li><a href="/recruiter">Recruiter</a></li>
    </ul>
    </div>

    <div class="right">
        <ul>
    <li><a href="/register">Register</a></li>
     <li><a href="/login">Login</a></li>
     <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
   </div>
 </header>

<%-body%>


<footer>
    <div class="footer-content">
        <p>&copy; 2026 Easily. all right reserved</p>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </div>
</footer>
</body>
</html>