<header class="site-header">
  <nav class="navbar container">
    <a class="brand" href="/">Easily</a>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/jobs">Jobs</a>
      <% if (user) { %>
        <a href="/jobs/new">Post a Job</a>
        <span class="welcome">Hi, <%= user.name %></span>
        <form action="/logout" method="POST"><button class="link-button" type="submit">Logout</button></form>
      <% } else { %>
        <a href="/register">Recruiter Register</a>
        <a href="/login">Login</a>
      <% } %>
    </div>
  </nav>
</header>
